.content{
overflow: hidden;
  a{
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
  }
  .container{
    z-index: -1;
    padding: 28px 135px 0px 135px;
  }

  header {
    position: relative;
    z-index: 1;
    &:before {
      content: "";
      position: absolute;
      width: calc(100% + 150px);
      height: 768px;
      background: radial-gradient(75.49% 75.49% at 61.01% 75.77%, #376A9A 0%, #2B5276 100%);
      z-index: -1;
      top: -50px;
      left: -150px;
    }
  }

  footer {
    background: #23415E;
  }
}