.info-menu{
  padding: 90px 0px 87px 0px;
  color: #ffffff;
  .info-menu__nav-menu{
    display: flex;
    justify-content: space-between;
    line-height: 36px;
    align-items: baseline;
    li{
    }
    .info-menu__nav-menu__logo{
      padding-right: 176px;
    }
    .info-menu__nav-menu__client{

    }
    .info-menu__nav-menu__delivery {
      a{
        font-size: 15px;
      }
    }
    .info-menu__nav-menu__address{
      padding-left: 168px;
      h2{
        color: #A9C5E0;
        line-height: 19px;
        width: 170px;
        font-size: 15px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .info-menu{
    padding: 90px 0px 325px 0px;
    .info-menu__nav-menu{
      position: relative;
      li{
      }
      .info-menu__nav-menu__logo{
        padding-right: 27px;
      }
      .info-menu__nav-menu__client{
      }
      .info-menu__nav-menu__delivery {
        padding-right: 160px;
        a{
          font-size: 15px;
        }
      }
      .info-menu__nav-menu__address{
        position: absolute;
        left: 250px;
        top: 240px;
        padding-left: unset;
        h2{
          color: #A9C5E0;
          line-height: 19px;
          width: 170px;
          font-size: 15px;
        }
      }
    }
  }

}
@media screen and (max-width: 375px){
  .info-menu{
    padding: 89px 0px 489px 0px;
    &.admin{
      .info-menu__nav-menu{
        position: relative;
        li{
        }
        .info-menu__nav-menu__logo{
          padding-right: 27px;
        }
        .info-menu__nav-menu__client{
          position: absolute;
          top: 87px;
          left: 0px;
        }
        .info-menu__nav-menu__delivery {
          top: 87px;
          a{
          }
        }
        .info-menu__nav-menu__address{
          top: 295px;
          left: 0px;
          h2{
          }
        }
      }
    }
    .info-menu__nav-menu{
      position: relative;
      li{
      }
      .info-menu__nav-menu_logo{
        padding-right: 27px;
      }
      .info-menu__nav-menu__client{
        position: absolute;
        top: 89px;
        left: 0px;
      }
      .info-menu__nav-menu__delivery {
        position: absolute;
        top: 89px;
        left: 142px;
        padding-right: unset;
        a{
          font-size: 15px;
        }
      }
      .info-menu__nav-menu_address{
        position: absolute;
        left: 0px;
        top: 296px;
        padding-left: unset;
        h2{
          color: #A9C5E0;
          line-height: 19px;
          width: 170px;
          font-size: 15px;
        }
      }
    }
  }

}
